.PortfolioCard {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: calc(last-line / 3);
    grid-row-end: calc(last-line / 3) +1;

    padding: 60px;
    text-align: left;

    margin-top: 80px;

    max-width: 750px;
}

.Portfolio-grid-one-column{
    display: grid;
    grid-template-columns:90% 10%;
}

.Portfolio-grid-two-columns{
    display: grid;
    grid-template-columns: 60% 30% 10%;
}

.Portfolio-title{
    white-space: nowrap;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: end-1;
    grid-column-end: end;
}

@media only screen and (max-width: 500px) {
    .Portfolio-title{
       margin-left: -10px;
    }
}

.Portfolio-content{
    padding-right: 30px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.ProjectContainer{
    margin-bottom: 80px;
}

.linkslist span{
    margin-right: 25px;
}

.linkslist span a{
    text-decoration: none;
    color: #D29461;
    opacity: .7;
    -webkit-transition: scolor .7s ease-out;
    -moz-transition: color .7s ease-out;
    -o-transition: color .7s ease-out;
    transition: color .7s ease-out;
}

.linkslist span a:hover{
    color: #964039;
}


@media only screen and (max-width: 900px) {
    .PortfolioCard{
        margin-top: 0px;
        padding: 40px;
    }

    .Portfolio-content{
        padding-right: 10px;
    }

    .ProjectContainer{
        margin-bottom: 50px;
    }
}


@media only screen and (max-width: 540px) {
    .PortfolioCard{
        padding: 40px;
    }

}